.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.login-section {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  width: 100%;
  max-width: 392px;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.fs-30 {
  font-size: 30px;
}

.lh-0 {
  line-height: 1px;
}

.text-center {
  text-align: center;
}

.grey {
  color: #bcbcbc;
}

.black {
  color: #1F1F1F;
}

.fw-500 {
  font-weight: 500;
}

.black-button {
  background-color: #000000 !important;
  color: white !important;
  border-radius: 5px;

  &:hover {
    background-color: #333333 !important;
  }
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;

  .divider-line {
    flex: 1;
    height: 1px;
    background: #d0d0d0;
  }

  .divider-text {
    margin: 0 12px;
    color: #999;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
}

.register-link-btn {
  text-decoration: none;
}

.info-section {
  width: 40%;
  background-image: url('/bg.png');
  background-position: 0px 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #F3F3F1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.icon-li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-top {}

.info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.features-list {
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.arrows {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

.arrow-left,
.arrow-right {
  cursor: pointer;
  font-size: 24px;
  width: 24px;
  height: 24px;
  transition: opacity 0.3s;
  color: #a5a5a5;
}

.arrow-right {
  background: #000000;
  border-radius: 5px;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 0.7;
}

mat-error {
  color: red;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .login-section,
  .info-section {
    width: 100%;
  }

  .info-section {
    padding: 40px 20px;
  }

  .info-top h1 {
    font-size: 1.8rem;
  }

  .features-list li {
    font-size: 1rem;
  }
}